beautifulsoup4==4.9.3
bs4==0.0.1
click==8.0.1
colorama==0.4.4
Flask==2.0.1
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
libvoikko==4.3
MarkupSafe==2.0.1
nltk==3.6.2
regex==2021.8.3
soupsieve==2.2.1
tqdm==4.62.0
Werkzeug==2.0.1
